{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{page.title}}</h1>
            {{ page.summary|richtext }}
            <div><a href="/">Home</a></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for paper in papers %}
                <div class="col-md-4">
                    <h2>{{ paper.title }}</h2>
                    {{ paper.specific.summary|richtext }}
                    <p><a class="btn btn-secondary" href="{% pageurl paper %}" role="button">View details &raquo;</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}